<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Time Bank</title>
  <meta name="description" content="Time Bank">
  <meta name="author" content="GDavydov">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <% if (!user) { %>
    <div class = 'container'>
      <p>
        401 Forbidden: Not logged in.
        <br/>
        <a href = '/'>Home</a>
      </p>
    </div>
  <% } else { %>
  Welcome <%= user.name %>
  <br/>
  <%if (user.place) {%>
    Place: <%= user.place%>
  <% } %>
  <div class = 'container'>
    <p>
      <%if (user.avatar) {%>
        <img src='data:image/jpg;base64,<%= user.avatar %>' width=120 height=120 alt="left" /><br>
      <% } else {%>
        <br/>
        I can't see yer face...
        <br/>
      <% } %>

      <% if (user.brief) {%>
        <p>
        <%= user.brief%>
        </p>
      <% } %>

      <form action="/profile_avatar" method="post" enctype = "multipart/form-data">
        Upload a new avatar:
          <input type='file' name='avatar' accept="image/*" />
          <br/>
          <input type='submit' value="upload" />
      </form>
      <br/>
      <a href = '/profile/settings'>Profile settings</a>
      <br/>
      <a href = '/logout'>Logout</a>
      <br/>
      <a href = '/'>Home</a>
    </p>
  </div>

  <% if (adverts.length > 0) { %>
    <div class = "posts">
    <ul>
        <% adverts.forEach(function(advert) {%>
          <br/><b>Author:</b>
          <br/>
          <a href = "/user/<%= advert.user._id %>"><%=  advert.user.name%></a>
          <br/>
          <%= advert.post.text %>
        <% }); %>
      </ul>
  <div>
  <% } %>

  <div class = "creation">
    <h4>Create an advert!</h4>
    <form action="/post_start" method = "POST" enctype = "multipart/form-data">
    <br/>
    <label>Adv text</label>
    <br/>
    <textarea cols="80" rows="10" name="text"></textarea>
    <br/>
    <label>Choose adv type</label>
    <br/>
    <p><input type = "radio" value = "iNeed" name = "advtype" required="true">I need help</p>
    <p><input type = "radio" value = "iHelp" name = "advtype" required="true">I can help</p><br/>
    <br/>
    <input type = "submit" value = "Create"/>
    </form>
  </div>

  <% } %>


  <script src="js/scripts.js"></script>


</body>
</html>
