<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Time Bank</title>
  <meta name="description" content="Time Bank">
  <meta name="author" content="GDavydov">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <% if (!aUser) { %>
    <div class = 'container'>
      <p>
        404 Error: not found.
        <br/>
        <a href = '/'>Home</a>
      </p>
    </div>
  <% } else { %>
  <h4><%= aUser.name %><h4>
  <div class = 'container'>
    <p>
      <% if (aUser.avatar) { %>
        <img src='data:image/jpg;base64,<%= aUser.avatar %>' width=120 height=120 alt="left" /><br>
      <% } %>
      <br/>
      <% if (adverts) { %>
        <% if (adverts.length > 0) { %>
          <% adverts.forEach(function(advert) {%>
            <p>
            <br/><b>Author:</b>
            <br/>
            <a href = "/user/<%= advert.user._id %>"><%= advert.user.name %></a>
            <br/>
            <%= advert.post.text %>
            <br/>
            </p>
          <% }); %>
        <% } %>
      <% } %>
      <br/>
      <a href = '/'>Home</a>
    </p>
  </div>
  <% } %>
  <script src="js/scripts.js"></script>


</body>
</html>
